<html>
  <head>
    <title>Welcome to $(sys.uqhost)</title>
  </head>
  <body>
    <h1>Welcome! This page represents your web application, deployed
    by CFEngine and served by $(sys.uqhost)</h1>
    <image src="images/cfagent.png"/>
  </body>
</html>

